In [2]:
### Starter

import pandas as pd

In [5]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/sales.csv"

df = pd.read_csv(url, index_col=None)

In [6]:
df.head()

,True_index,Store_ID,Day_of_week,Date,Nb_customers_on_day,Open,Promotion,State_holiday,School_holiday,Sales
0,0,625,3,2013-11-06,641,1,1,0,0,7293
1,1,293,2,2013-07-16,877,1,1,0,1,7060
2,2,39,4,2014-01-23,561,1,1,0,0,4565
3,3,676,4,2013-09-26,1584,1,1,0,0,6380
4,4,709,3,2014-01-22,1477,1,1,0,0,11647