In [16]:
### Starter

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [103]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/sales.csv"

df = pd.read_csv(url, index_col=None)

In [78]:
def check_irregularities(dataframe):
    print('DataFrame Shape -----------------------')
    print(dataframe.shape)
    print('DataFrame Null Values -----------------------')
    print(dataframe.isna().sum())
    print('DataFrame Duplicates -----------------------')
    print(dataframe.duplicated().sum())
    print('DataFrame Data Types -----------------------')
    print(df.dtypes)

In [79]:
check_irregularities(df)

DataFrame Shape -----------------------
(640840, 13)
DataFrame Null Values -----------------------
True_index             0
Store_ID               0
Day_of_week            0
Date                   0
Nb_customers_on_day    0
Open                   0
Promotion              0
State_holiday          0
School_holiday         0
Sales                  0
Day_of_year            0
week_num               0
Week_num               0
dtype: int64
DataFrame Duplicates -----------------------
0
DataFrame Data Types -----------------------
True_index                      int64
Store_ID                        int64
Day_of_week                     int64
Date                   datetime64[ns]
Nb_customers_on_day             int64
Open                            int64
Promotion                       int64
State_holiday                   int64
School_holiday                  int64
Sales                           int64
Day_of_year                     int32
week_num                       object
Week_num                       object
dtype: object

In [106]:
def clean_dataframe(dataframe):
    dataframe['Date'] = pd.to_datetime(dataframe['Date'])
    dataframe['Week_num'] = df['Date'].dt.strftime('%U')
    holiday_map = {'0': 0, 'a':1, 'b':1, 'c':1}
    dataframe['State_holiday'] = dataframe['State_holiday'].map(holiday_map)
    grouped = dataframe.groupby(['Week_num', 'Day_of_week']).agg(Promotion = ('Promotion', 'max'),
                                                       State_holiday = ('State_holiday', 'max'), 
                                                       Sales_total = ('Sales', 'sum')).reset_index()
    return grouped

In [107]:
final_df = clean_dataframe(df)

In [108]:
display(final_df.head())

  Week_num  Day_of_week  Promotion  State_holiday  Sales_total
0       00            2          0              1        62384
1       00            3          0              1      4436081
2       00            4          0              1      8726816
3       00            5          0              0     13516560
4       00            6          0              0     11466518